@import "tailwindcss";
@import "./styles/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GameOfSquids";
  src: url("./assets//fonts/GameOfSquids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background: #ececec;
}

.font-logo {
  font-family: "GameOfSquids", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
